<!DOCTYPE html>
<html>
  <head>
    <title>Product List</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css"
    />
  </head>

  <body class="bg-gray-100">
    <div class="container mx-auto p-4">
      <h1 class="text-3xl font-semibold mb-4">Product List</h1>
      <!-- Search Bar -->
      <form method="GET" action="/search">
        <input
          type="text"
          name="item"
          class="w-96 rounded p-2 mb-4 bg-white"
          placeholder="Search products..."
        />
      
        <!-- Price Filter -->
        <label for="minPrice">Min Price:</label>
        <input
          type="number"
          name="minPrice"
          min="0"
          max="4000"
          class="w-40 p-2 rounded mb-4 bg-white"
          placeholder="Min Price"
        />
      
        <label for="maxPrice">Max Price:</label>
        <input
          type="number"
          name="maxPrice"
          min="0"
          max="4000"
          class="w-40 p-2 rounded mb-4 bg-white"
          placeholder="Max Price"
        />
      
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
        >
          Search
        </button>
      </form>
      

      <form method="GET" action="/sort">
        <div class="flex items-center space-x-4 mb-4">
          <label for="sort" class="text-sm font-medium text-gray-600"
            >Sort By:</label
          >
          <select
            name="sort"
            id="sort"
            class="bg-gray-200 py-2 px-3 border rounded-md"
          >
            <option value="nameAsc">Name (Ascending)</option>
            <option value="nameDesc">Name (Descending)</option>
            <option value="priceAsc">Price (Ascending)</option>
            <option value="priceDesc">Price (Descending)</option>
          </select>
          <button
            type="submit"
            class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
          >
            Sort
          </button>
        </div>
      </form>

      <form method="GET" action="/addProduct" class="mb-4">
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
        >
          Add Product
        </button>
      </form>
      <form method="GET" action="/editProduct" class="mb-4">
        <button
          type="submit"
          class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600"
        >
          Edit/Delete Product
        </button>
      </form>

      <ul
        id="productList"
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4"
      >
        <% products.forEach(function(product) { %>
        <li
          class="product-card bg-white p-4 rounded shadow hover:shadow-lg transition-transform duration-300 transform hover:scale-105"
          data-category="<%= product.category %>"
          data-product-name="<%= product.name %>"
          data-product-price="<%= product.price %>"
        >
          <div class="flex">
            <div class="w-2/3">
              <img
                src="/images/<%= product.image %>"
                alt="<%= product.name %>"
                class="w-full h-96 object-cover rounded"
              />
            </div>
            <div class="w-1/3 p-2">
              <h2 class="text-lg font-semibold mb-2"><%= product.name %></h2>
              <p class="text-gray-700 mb-2"><%= product.description %></p>
              <p class="text-blue-500 text-lg mb-2">
                $<%= product.price.toFixed(2) %>
              </p>
              <button
                class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 transition-colors duration-300"
              >
                Buy
              </button>
            </div>
          </div>
        </li>
        <% }); %>
      </ul>
    </div>
  </body>
</html>
