<!DOCTYPE html>
<html>
  <head>
    <title>User Profile</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        padding: 20px;
      }
      .container {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      }
      h1 {
        margin-top: 0;
      }
      .logout-button {
        background-color: #ff6347;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
        margin-top: 10px;
      }
      .logout-button:hover {
        background-color: #ff4433;
      }

      .form-group-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        margin-top: 10px;
        border-radius: 3px;
        padding: 10px 20px;
        cursor: pointer;
      }

      .form-group-button:hover {
        background-color: #0056b3;
      }

      /* Style for the container of each article */
      .blog-article {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      /* Style for the article image */
      .article-image img {
        max-width: 100%;
        height: auto;
        max-height: 150px; /* Adjust as needed */
      }

      /* Style for the article content */
      .article-content {
        margin-left: 20px;
      }

      /* Style for the article title */
      .article-content h2 {
        font-size: 1.5rem;
        margin: 0;
        color: #333;
      }

      /* Style for the article content paragraph */
      .article-content p {
        margin: 10px 0;
        color: #666;
      }

      /* Optional: Add hover effect on articles */
      .blog-article:hover {
        background-color: #f7f7f7;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Welcome to your profile, <%= username %></h1>
      <form action="/logout" method="GET">
        <button class="logout-button" type="submit">Logout</button>
      </form>
      <form action="/edit-profile" method="GET">
        <button class="form-group-button" type="submit">Edit Profile</button>
      </form>
      <div class="blog-articles">
        <% blogPosts.forEach(function(article) { %>
        <div class="blog-article">
          <div class="article-image">
            <img
              src="<%= article.urlToImage %>"
              alt="<%= article.title %> Image"
            />
          </div>
          <div class="article-content">
            <h2><%= article.title %></h2>
            <p><%= article.content %></p>
            <p class="article-date">Published on <%= moment(article.publishedAt).format('MMMM D, YYYY h:mm A') %></p>
          </div>
        </div>
        <% }); %>
      </div>
    </div>
  </body>
</html>
